Django
django-allauth
django-filter
django-rest-auth
djangorestframework
gunicorn
requests
requests-oauthlib
social-auth-app-django
social-auth-core
stripe
python-decouple
django-cors-headers
django-heroku 
whitenoise 
Pillow 
dj-database-url
psycopg2
urllib3
psycopg2-binary
django-storages
boto3
six
s3transfer
python-dateutil
sqlparse 
asgiref 
pytz 
